@model List<FMS.Core.Model.AppUserProfile>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--
          |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
          | Responsive tables
          |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
          !-->
<div class="col-12">
    <div class="card">
        <h4 class="card-title"><strong>App Users</strong></h4>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2"></div>

                <div class="col-md-6">

                </div>
                <br class="clearfix" />
                <br class="clearfix" />
                <br class="clearfix" />
                <br class="clearfix" />
                <br class="clearfix" />
            </div>


            <div class="row">
                <div class="col-md-12">

                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Phone Number</th>
                                <th>Email Address</th>
                                @*<th>User Type</th>*@
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var line in Model)
                            {
                                <tr>
                                    <th scope="row">#</th>
                                    <td>@line.FirstName @line.LastName</td>
                                    <td>@line.Phone</td>
                                    <td>@line.EmailAddress</td>
                                    @*<td>@line.AppUser.UserType</td>*@
                                    <td>...</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
