@model FMS.Models.Payment.SearchPaymentView
@{
    ViewData["Title"] = "Payment List";
    Layout = "_Layout";

    var paymentList = Model.SearchResult;
}


<header class="header bg-ui-general">

    <div class="header-action">
        <nav class="nav">

            <a class="nav-link active" href="/Payment/SearchPayment">Search Payment</a>
        </nav>
    </div>
</header><!--/.header -->
<!--
          |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
          | Responsive tables
          |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
          !-->
<div class="col-12">
    <div class="card">
        <h4 class="card-title"><strong>Advance Search</strong></h4>
        <div class="card-body">

                <form asp-action="SearchPaymentResult" asp-controller="Payment" method="get">

                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <hr class="d-md-none">
                            <label for="date">Start Date</label><br />
                            <div class="input-group  required">
                                <input type="text" name="startDate" class="form-control" placeholder="Date"  data-date-format="dd/mm/yyyy" data-provide="datepicker" data-autoclose="true"/>
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <hr class="d-md-none">
                            <label for="date">End Date</label><br />
                            <div class="input-group  required">
                                <input type="text" name="endDate" class="form-control" placeholder="Date"  data-date-format="dd/mm/yyyy" data-provide="datepicker" data-autoclose="true" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>

                    </div>
                    <br class="clearfix" />
                    <div class="row">

                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <hr class="d-md-none">
                            <div class="form-group">
                                <label>Bill From</label>
                                <select class="form-control" name="payer">
                                    <option value="">-- Select One --</option>
                                    <option value="Ezeora Nnanna">Ezeora Nnanna</option>
                                    <option value="Okeke Ifeanyi">Okeke Ifeanyi</option>
                                </select>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <hr class="d-md-none">
                            <div class="form-group">
                                <label>Amount</label>


                                <input type="text" name="amount" class="form-control" placeholder="Enter Amount" />

                            </div>
                        </div>
                    </div>
                    <br class="clearfix" />
                    <div class="row">

                        <div class="col-md-2"></div>
                        <div class="col-md-8">

                            <button type="submit" class="btn btn-primary pull-right">Search</button>
                        </div>
                    </div>
                </form>
                <br class="clearfix" />
                <br class="clearfix" />
                <br class="clearfix" />
                <br class="clearfix" />
                <br class="clearfix" />

                <div class="row">
                    <div class="col-md-12">

                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Transaction Date</th>
                                    <th>Bill Number</th>
                                    <th>Bill From</th>
                                    <th>Amount</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var line in paymentList)
                                {
                                    <tr>
                                        <td>@line.TransactionDate</td>
                                        <td>@line.BillNumber</td>
                                        <td>@line.PayerId</td>
                                        <td>@line.Amount.ToString("#,##0.##")</td>
                                        <td>@line.Description</td>
                                        <td>
                                            <button  id="@line.BillNumber" class="btn btn-w-md btn-bold btn-warning addPaymentBillNumber">Add</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
</div>
    </div>
</div>




