@model List<FMS.Core.Model.Budget>
@{
    Layout = "_Layout";
}

<div class="main-content">


    @if (TempData["AlertMessage"] != null)
    {

        <div class="alert alert-success">
            @TempData["AlertMessage"]
        </div>
    }

    <div class="row">

        <div class="col-12">
            <div class="card">
                <h4 class="card-title"><strong>Budget List</strong></h4>
                <div class="card-body">

                    <br class="clearfix" />
                    <br class="clearfix" />

                    <div class="row">
                        <div class="col-md-12">

                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Economic</th>
                                        <th>Amount</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var line in Model)
                            {
                            <tr>
                                <td>@line.TransactionDate</td>
                                <td>@line.Economic.Description</td>
                                <td>@line.Amount.ToString("#,##0.##")</td>
                                <td>@line.Description</td>
                                <td>
                                    <a href="/Budget/AmendBudget?budgetId=@line.Id" class="btn btn-w-md btn-bold btn-warning">Amend</a>
                                </td>
                            </tr>
                            }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
